<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiuba.proyectosinformaticos.oupa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-feature android:name="android.hardware.camera" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/oupa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pillbox.PillboxActivity"
            android:label="@string/title_activity_pillbox"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pillbox.DrinkedPillActivity"
            android:label="@string/title_activity_drinked_pill"
            android:parentActivityName=".pillbox.PillboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity
            android:name=".pillbox.NewPillStep1"
            android:label="@string/title_activity_new_pill_step1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pillbox.NewPillStep2"
            android:label="@string/title_activity_new_pill_step2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pillbox.NewPillStep4"
            android:label="@string/title_activity_new_pill_step4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SOSActivity" />
        <activity android:name=".activities.PhoneActivity" />
        <activity android:name=".contacts.ContactActivity" />
        <activity android:name=".contacts.NewContact2" />
        <activity android:name=".contacts.NewContact4" />
        <activity
            android:name=".contacts.NewContact"
            android:label="@string/title_activity_new_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".pillbox.AlarmReceiver" />

        <activity
            android:name=".measurement.MeasurementListActivity"
            android:label="@string/title_activity_measurement_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".measurement.NewMeasurementStep1"
            android:label="@string/title_activity_new_measurement_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".measurement.NewMeasurementStep2"
            android:label="@string/title_activity_new_measurement_step2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".measurement.heartRate.HeartRateMonitor"
            android:label="@string/title_activity_new_measurement_heart_rate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".measurement.heartRate.HeartRateSendMeasureActivity"
            android:label="@string/title_activity_heart_rate_send_measure"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>